{% extends './userTemplate/userLayout.html' %}
{% block content %}

<div class="wrapper">
   <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
         <div class="container-fluid">
            <div class="navbar-wrapper">
               <div class="navbar-toggle d-inline">
                  <button type="button" class="navbar-toggler">
                  <span class="navbar-toggler-bar bar1"></span>
                  <span class="navbar-toggler-bar bar2"></span>
                  <span class="navbar-toggler-bar bar3"></span>
                  </button>
               </div>
               <a class="navbar-brand" href="javascript:void(0)">Create a Session</a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            </button>
            <div class="collapse navbar-collapse" id="navigation">
               <ul class="navbar-nav ml-auto">
                  <li class="search-bar input-group">
                     <button class="btn btn-link" id="search-button" data-toggle="modal" data-target="#searchModal"><i class="tim-icons icon-zoom-split" ></i>
                     <span class="d-lg-none d-md-block">Search</span>
                     </button>
                  </li>
                  <li class="dropdown nav-item">
                     <a href="javascript:void(0)" class="dropdown-toggle nav-link" data-toggle="dropdown">
                        <div class="notification d-none d-lg-block d-xl-block"></div>
                        <i class="tim-icons icon-sound-wave"></i>
                        <p class="d-lg-none">
                           Notifications
                        </p>
                     </a>
                     <ul class="dropdown-menu dropdown-menu-right dropdown-navbar">
                        <li class="nav-link"><a href="#" class="nav-item dropdown-item">Mike John responded to your email</a></li>
                        <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">You have 5 more tasks</a></li>
                        <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Your friend Michael is in town</a></li>
                        <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Another notification</a></li>
                        <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Another one</a></li>
                     </ul>
                  </li>
                  <li class="dropdown nav-item">
                     <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                        <div class="photo">
                           <img src="static/img/anime3.png" alt="Profile Photo">
                        </div>
                        <b class="caret d-none d-lg-block d-xl-block"></b>
                        <p class="d-lg-none">
                           Log out
                        </p>
                     </a>
                     <ul class="dropdown-menu dropdown-navbar">
                        <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Profile</a></li>
                        <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Settings</a></li>
                        <li class="dropdown-divider"></li>
                        <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Log out</a></li>
                     </ul>
                  </li>
                  <li class="separator d-lg-none"></li>
               </ul>
            </div>
         </div>
      </nav>
      <div class="modal modal-search fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModal" aria-hidden="true">
         <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="SEARCH">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <i class="tim-icons icon-simple-remove"></i>
                  </button>
               </div>
            </div>
         </div>
      </div>
      <!-- End Navbar -->
      <div class="content">
         <form action="/createSession">
            <div class="form-group">
               <div class="input-group">
                  <label for="portfolio" style="font-size:1.2rem;margin:0.5rem;">Portfolio: </label>
                  <input class="form-control" id="portfolio" type="text" required>
               </div>
               <div class="input-group">
                  <label for="tickers" style="font-size:1.2rem;margin:0.5rem;">Investment List: </label>
                  <input class="form-control" id="tickers" type="text" required>
               </div>
            </div>
         </form>
         <div class="row">
            <div class="col-lg-8">
               <div class="card ">
                  <div class="card-header">
                     <h4 class="card-title"> Active Session: NAME HERE</h4>
                  </div>
                  <div class="card-body table-responsive">
                     <table class="table tableFilter table-responsive" style="width:100%">
                        <form action="/createSession", method="post">
                           <tbody style="display:table;width:100%;">
                        <tr>
                           <td>Domicile</td>
                           <td>Assets Type</td>
                           <td>Is Index</td>
                           <td>Geography Focus</td>
                           <td>Lipper Global Classified</td>
                        </tr>
                        <tr>
                           <td><SELECT class="form-select" name="domicle" aria-label="Default select example">
                           {% for data in data %}
                           <OPTION value="{{data[14]}}" style="width: 25%;" selected>{{data[14]}}</OPTION>
                           {% endfor %}
                        </SELECT></td>
                           <td><SELECT class="form-select" name="assetsType" style="font-family:verdana">
                           {% for data in data %}
                           <OPTION value="{{data[4]}}" style="width: 25%;" SELECTED>{{data[4]}}</OPTION>
                           {% endfor %}
                        </SELECT></td>
                           <td><input type="checkbox" id="isIndex" name="fav_language" value="Is Index"></td>
                           <td><SELECT class="form-select" name="geoFocus" style="font-family:verdana">
                           {% for data in data %}
                           <OPTION value="{{data[6]}}" SELECTED style="width: 25%;">{{data[6]}}</OPTION>
                           {% endfor %}
                        </SELECT></td>
                           <td><SELECT class="form-select" name="lipperGlobal" style="font-family:verdana">
                           {% for data in data %}
                           <OPTION value="{{data[7]}}" SELECTED style="width: 25%;">{{data[7]}}</OPTION>
                           {% endfor %}
                        </SELECT>
                           </td>
                        </tr>
                        <tr>
                           <td></td>
                           <td></td>
                           <td></td>
                           <td></td>
                           <td><button type="submit" class="btn btn-secondary btn-sm" style="display:inline-block;float:right;">Apply Filter</button></td>
                        </tr>
                        </tbody>
                        </form>
                     </table>
                     <div class="table-responsive">
                        <div class="table-responsive">
                           <table id="datatable" class="table mainTable table-bordered" style="width:100%">
                              <thead>
                                 <tr>
                                    <td>Select</td>
                                    <td>Assets Type</td>
                                 </tr>
                              </thead>
                              <tbody>
                                 {% for dataTable in dataTable %}
                                 <tr>
                                    <td width="12rem"><input name="record" type="checkbox" class="checkBoxClass" id="activeSession"></td>
                                    <td id="name" value="{{ dataTable[3] }}">{{ dataTable[3] }}</td>
                                 </tr>
                                 {% endfor %}
                              </tbody>
                           </table>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-lg-4">
               <div class="card">
                  <h4 class="card-title" style="margin:1rem;">Selected Assets</h4>
                  <div class="card-body">
                     <table class="table table-bordered" style="width:100%">
                        <tbody id="myTable">

                        </tbody>
                     </table>
                  </div>
                  <button  class="btn btn-secondary btn-sm">Apply and Save</button>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
  <link rel="stylesheet" type="text/css" href="static/css/datatable.css"/>
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>


<script>
$('input.checkBoxClass').on('change', function() {
      var _this = $(this);
      if(this.checked) {
        var row = _this.closest("tr").clone();
        row.find('td:nth-child(1), td:nth-child(3)').hide();
        row.data('id' , this.value);
        $('#myTable').append(row);
      }
      else {
          $('[data.id=this.id]', '#myTable').remove();
      }
});

</script>
<script>var usedNames = {};
$("select > option").each(function () {
  if(usedNames[this.text]) {
     $(this).remove();
 } else {
     usedNames[this.text] = this.value;
 }});
</script>

<script>$(document).ready(function () {
    $.noConflict();
    var table = $('#datatable').DataTable();
});</script>


<style>

.tableFilter tbody tr{
	margin: 0.2rem;
}

.tableFilter tbody td{
	margin:  0.3rem;
}


tableFilter {
  width: 100%;
  border-collapse: collapse;
}

td select {
  width: 100%;
}

a{
color:#525f7f;
}
</style>
{% endblock %}